
#name {
  color:#A8EBFF;
  font-family: Verdana, sans-serif;
  text-align: center;
}

#pic {
  display: block;
  
  margin-right: 350px;
}

#backgroundColour {
  background-color: #2B2B2B;
}

#link {
  color: white;
}

.block {
  color: #FAEBD7;
  font-family: Verdana, sans-serif;
  
  padding-left: 30%;
  padding-right: 30%;
}